    @import url('https://fonts.googleapis.com/css2?family=Sono:wght@800&display=swap');

*{
    margin:0;
    padding: 0;
}

#root{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    background:#e1e6e3 ;
}
body,html{
    width: 100%;
    height: 100%;
    
}

.card-to-do {
display: flex;
justify-content: center;
height: 770px;
    
}
.subContainer{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	padding: 30px;
	border-radius: 20px;
	width: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
}

h1,h3{
    text-align: center;
    font-family: 'Sono', sans-serif;
    margin: 5px;    
}

.add-todo {
    font-family: 'Sono', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
   
}

.input-add{
    padding: 10px 20px;
    width: 100%;
    border:2px solid rgb(215, 215, 215);
    border-radius: 10px;
    font-family: 'Sono', sans-serif;
}

.btn-add {
    border: 1px solid rgb(247, 244, 244);
	color: #fff;
	padding: 5px 40px;
	border-radius: 20px;
	font-family: inherit;
	cursor: pointer;
	font-size: 17px;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}.btn-add:hover{
    transform: translateY(-3px) scale(1.05);
    background-color: #21a3a3;
}
.ul-edit{
    list-style: none;
    border: 2px solid rgb(232, 232, 232);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}
.li{
    border: 2px solid rgb(232, 232, 232);
    border-radius: 10px;
    background-color: #e7efef;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.conten_li{
    display: flex;
    flex-direction: column;
}
span{
    font-weight: 300;
    font-family: 'Sono', sans-serif;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btns {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

/* Icono de editar*/
.btn-1 {
    color: white;
    width: 15px;
    height: 15px;
    
}

/* Icono de eliminar */
.btn-2 {
    color: white;
    width: 15px;
    height: 15px;   
}
.btn-3 {
    border-radius: 75px;
    border: #fff;
    background-color:#21a3a3;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.btn-3:hover{
    transform: translateY(-3px) scale(1.05);
    background-color: rgb(0, 0, 0);
    
}

.btn-4 {
    border-radius: 75px;
    border: #fff;
    background-color:#ac0d0d;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.btn-4:hover{
    transform: translateY(-3px) scale(1.05);
    background-color: rgb(0, 0, 0);
    
}

.btn-guardar{
    background-color: #21a3a3;
    width: 70px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    color: #e1e6e3;
    cursor: pointer;
    font-size: 12px;
}.btn-guardar:hover{
    transform: translateY(-3px) scale(1.05);
    background-color: rgb(0, 0, 0);
    
}

.input-edit{
    padding: 10px 20px;
    width: 400px;
    border:2px solid rgb(215, 215, 215);
    border-radius: 10px;
    font-size: 15px;
    /* font-family: 'Sono', sans-serif; */
}